body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8aed2;
  overflow: hidden;
  transition: background 0.5s ease;
}

/* Toggle button */
#mode-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #ffb7d1;
  color: #b8457d;
  border: 2px solid #b8457d;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.cat-box, .cat-happy {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.cat-box {
  background-image: url('https://rlv.zcache.com/sad_cat_on_phone_square_sticker-r104af52b999e47929e0f2ab5625fe85e_zg2qgs_644.webp?rlvnet=1');
}

.cat-happy {
  background-image: url('https://64.media.tumblr.com/beff886ca514bad3dfae05e1ffed4cbb/febcdadf6f9f83ec-a9/s540x810/c2fb5723d7e94675606e851660948aef3da40042.jpg');
}

.cat_happy_text, .cat_text {
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff389b;
  text-align: center;
}

.cat_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 400px;
  height: 400px;
  padding: 20px;
  border: 3px solid #b8457d;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 50px auto;
}

#yes-btn, #runaway-btn {
  padding: 15px 30px;
  background-color: #f49ac5;
  color: #b8457d;
  font-weight: bold;
  border: 3px solid #b8457d;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
  transition: transform 0.1s ease;
}

#yes-btn {
  position: relative;
  left: -70px;
}

#runaway-btn {
  position: absolute;
  left: 50%;
  transform: translateX(20px);
}

.screen {
  display: none;
  width: 80vw;
  height: 80vh;
}

.screen.active {
  display: block;
}
